<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.YandexSpeechKitPlugin</class>
    <name>speechkit plugin</name>
    <description>provide a speech recognition.</description>
    <author>luxoft</author>
    <version>1.0.0</version>
    <date>20/2/2017</date>
    <minServerVersion>4.0.0</minServerVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="speech-conf"
                      name="Speech Properties"
                      url="speech-conf.jsp"
                      description="Edit speech plugin properties" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>